<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FmpData;Integrated Security=True;" />
    <add key="Dates" value="YYYY-03-31, YYYY-04-30, YYYY-06-30, YYYY-07-31, YYYY-08-31, YYYY-09-30, YYYY-12-31" />
    <add key="HistoryDepth" value="5" />
    <add key="MaxResultCount" value="400" />
    <add key="DatabaseDataYearFrom" value="2016" />
    <add key="DatabaseDataYearTo" value="2021" />
  </appSettings>
</configuration>